/*
	Global classes
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
	height: 45px;
	width: 300px;
	color: white;
	background-color: #e6ccff;
	text-align: center;
	text-shadow: 1px 1px black;
}

.back-button {
	position: relative;
	top: 13px;
	left: -130px;
	border: 1px solid white;
	color: gray;
	cursor: pointer;
}

/*
	Albums
			*/

.albums-album-wrapper {
	position: relative;
	top: 5px;
	left: -30px;
	display: grid;
	grid-template-columns: 135px 135px;
	grid-template-rows: 225px 225px;
	gap: 10px;
}

.albums-album-art {
	height: 135px;
	width: 135px;
}

.albums-album-name {
	position: relative;
	top: -10px;
	width: 135px;
	font-size: 1.1em;
	font-family: avenir;
	font-weight: bold;
	text-align: center;
}

.albums-artist-name {
	position: relative;
	top: -25px;
	width: 135px;
	font-size: .9em;
	font-family: avenir;
	font-style: italic;
	text-align: center;
}

/*
	Songs
			*/
.songs-info-wrapper {
	position: relative;
	top: -3px;
}

.songs-album-art {
	position: relative;
	top: -10px;
	left: -30px;
	height: 150px;
	width: 150px;
}

.songs-album-name {
	position: relative;
	top: -5px;
	left: -15px;
	width: 120%;
	font-size: 1.25em;
	font-family: avenir;
	font-weight: bold;
}

.songs-artist-name {
	position: relative;
	top: -15px;
	left: -15px;
	width: 150%;
	font-size: 1em;
	font-family: avenir;
	font-style: italic;
}

.songs-text-info li{
	font-size: .7em;
	font-family: avenir;
	border: 1px solid grey;
	padding: 0px 2px;
	margin-top: 3px;
}

.songs-album-year {
	position: relative;
	top: -17px;
	left: -15px;
	font-size: 1em;
	font-family: Avenir;
}

.songs-list {
	position: relative;
	top: -7px;
	left: -12px;
}

/*
	Player
			*/
.player-album-art {
	position: relative;
	top: 30px;
	left: 30px;
	height: 240px;
	width: 240px;
}

.player-song-info {
	position: relative;
	top: -5px;
	font-size: 1.1em;
	font-family: avenir;
	font-style: italic;
	color: #a568d8;
	text-align: center;
}

#player-song-name {
	position: relative;
	top: 15px;
	font-size: 1.3em;
	font-family: avenir;
	font-weight: 500;
	color: #565656;
	text-align: center;
}

.volume-bar {
	position: relative;
	top: -20px;
	left: 30px;
	display: grid;
	grid-template-columns: 24px 24px 24px 24px 24px 24px 24px;
	gap: 10px;
}

.volume-bar i{
	position: relative;
	top: -8px;
	left: 5px;
}

.volume-level {
	position: relative;
	top: -25px;
	left: 30px;
	height: 20px;
	width: 100px;
	margin-right: 40px;
}

.volume-level:hover{
	background-color: #e6ccff;
	border-radius: 3px;
	border: 1px solid black;
}

.volume-rocker {
	height: 6px;
	width: 24px;
	border: 1px solid black;
}

.player-controls{
	position: relative;
	top: -35px;
	left: 85px;
}

.player-controls button.hidden{display:none;}

#player-time {
	position: relative;
	top: -15px;
	left: 20px;
	width: 255px;
}

input[type="range"]{
	-webkit-appearance: none;
	width: 255px;
}

input[type="range"]::-webkit-slider-runnable-track{
	background: #c3c3c3;
	height: 5px;
	border-radius: 2px;
	border-top: 1px solid #5a5a5a;
	border-bottom: 1px solid #d3d3d3;
}

input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	margin-top: -6px;
	height: 15px;
	width: 15px;
	border-radius: 10px;
	border: 1px solid #b3b3b3;
	background: #f3f3f3;
	cursor: pointer;
}

#time-elapsed {
	position: relative;
	top: -12px;
	left: 24px;
	font-size: .8em;
	font-family: avenir;
}

#time-total{
	position: relative;
	top: -30px;
	left: 250px;
	font-size: .8em;
	font-family: avenir;
}
